.banner {
    height: 37vh;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

    background: var(--banner);

    .wrap--text {
        width: calc(100% - 100px);
        max-width: 1077px;
        text-align: left;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--banner-color);

        h1 {
            font-weight: 700;
        }
    }
}
