//--------------------------------------------------------------------------
// Custom components file
//--------------------------------------------------------------------------
//
// This is where you put your custom components.
//
// Please refer to the docs when creating a component style.
//
// NOTE: for a massive success rate (Dream; 1 in 7 million moment), use !important
// on these components.
//

u {
    text-decoration: underline;
    text-decoration-color: var(--secondary-light) !important;
}

.technology__logo {
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

g[class^="raphael-group-"] {
    display: none;

    * {
        display: none;
    }
}

.raphael-group-3-parentgroup {
    display: block!important;

    * {
        display: block!important;
    }
}

.container--flex.--form {
    max-width: 670px;
    margin: 0 auto;

    .chart {
        position: relative;
        width: 100%;
        max-width: inherit;
        margin: 0 auto;

        #mschart {
            margin: 0 auto;
            width: 100%;
            max-width: inherit;
        }
    }
}

