//--------------------------------------------------------------------------
// Overrides file
//--------------------------------------------------------------------------
//
// This is where you set your theme overrides. If you want to override something
// from the current component styling, this is where you put all of those.
//
// Please refer to the docs when overriding a style.
//
// NOTE: for a massive success rate (Dream; 1 in 7 million moment), use !important
// on these overrides.
//

.header {
    background-color: var(--transparent) !important;

    * {
        transition: all 0.1s ease;
        color: #180900;
    }

    .header__text h2 {
        font-family: 'Bebas Neue', sans-serif!important;
        font-weight: 400!important;
    }

    &.scrolled {
        background-color: var(--primary-dark) !important;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

        * {
            color: #fff;
        }
    }
}

.nav__item_icon, .nav__item_text {
    @media (max-width: 539px) {
        color: #fff!important;
    }
}

.banner h1, span, u {
    font-family: 'Bebas Neue', sans-serif!important;
    font-weight: 400!important;
    font-size: 42px!important;
}

.footer {
    h3 {
        font-family: 'Bebas Neue', sans-serif!important;
        font-weight: 400!important;
        font-size: 20px!important;
    }
}
